<section class="section section-about-us">
  <div class="container">
    <div class="about-us-wrapper">
      <div class="about-us-text-wrapper">
        <h2 class="second-title">About us</h2>
        <p class="text-after-title">
          Simplifying your home finding hassles with hundreds of luxurious
          properties
        </p>
        <p class="about-us-text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit
          amet convallis metus, vitae mattis ipsum. Suspendisse luctus ipsum ac
          sem pharetra tincidunt. Praesent fermentum tincidunt viverra.
        </p>
        <button class="about-us-button button" type="button">Explore</button>
      </div>
      <div class="about-us-img-wrapper">
        <div class="thumb">
          <img
            src="./img/about-us/bedroom.jpg"
            alt="modern bedroom"
            class="about-us-img1"
            width="584"
            height="398"
          />
        </div>
        <div class="thumb-img2">
          <img
            src="./img/about-us/living-room.jpg"
            alt="modern living room"
            class="about-us-img2"
            width="398"
            height="584"
          />
        </div>
      </div>
    </div>
  </div>
</section>
