<section class="section"></section>
    <div class="container">
      <div>
          <h2>About us</h2>
          <p>Simplifying your home 
            finding hassles with hundreds of luxurious properties</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet convallis metus, vitae mattis ipsum. Suspendisse luctus ipsum ac sem pharetra tincidunt. Praesent fermentum tincidunt viverra.</p> 
      <button type="button">Explore</button>
        </div> 
      <div>
          <img src="./img/about-us/bedroom.jpg" alt="modern bedroom" width="584" height="398">
         <img src="./img/about-us/living-room.jpg" alt="modern living room" width="398" height="584">
      </div>
    </div>
    </section>