<section class="section">
  <div class="container">
    <h2 hidden>Advantages</h2>
    <ul>
      <li>
        <p>Luxury is Built-In</p>
        <img src="http://placehold.it/224x128" alt="" />
      </li>
      <li>
        <p>Smartly</p>
        <img src="http://placehold.it/208x280" alt="" />
      </li>
      <li>
        <p>Priced</p>
        <img src="http://placehold.it/158x173" alt="" />
      </li>
      <li>
        <p>Ready for Move-In!</p>
        <img src="http://placehold.it/444x234" alt="" />
      </li>
    </ul>
  </div>
</section>
