<section class="section">
  <div class="container">
    <h2 hidden>Apartments</h2>
    <p>Outstanding Apartments</p>
    <button type="button">Explore</button>
    <ul>
      <li>
        <img src="http://placehold.it/532x674" alt="" />
        <p>Sunny room - Studio</p>
        <p>Complex modern apartment in WA</p>
      </li>
      <li>
        <img src="http://placehold.it/212x314" alt="" />
        <p>Sunny room - Studio</p>
        <p>Complex modern apartment in WA</p>
      </li>
      <li>
        <img src="http://placehold.it/212x314" alt="" />
        <p>Sunny room - Studio</p>
        <p>Complex modern apartment in WA</p>
      </li>
      <li>
        <img src="http://placehold.it/212x314" alt="" />
        <p>Sunny room - Studio</p>
        <p>Complex modern apartment in WA</p>
      </li>
      <li>
        <img src="http://placehold.it/212x314" alt="" />
        <p>Sunny room - Studio</p>
        <p>Complex modern apartment in WA</p>
      </li>
    </ul>
  </div>
</section>
