<footer class="footer">
  <div class="container">
    <form action="#" method="post" class="subscription-form">
      <label for="email" class="visually-hidden">Newsletter Sign-Up</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <button type="submit" class="subscribe-button">Subscribe</button>
      <a href=""
      ><img src="./img/group.svg" alt="logo" width="92" height="108" />
    </a>
    <p>Copyright Dotcreativemarket</p>
    </form>
    <h3>Sitemap</h3>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Apartments</a></li>
      <li><a href="">Gallery</a></li>
    </ul>
    Contact
    <a href="">Dotcreativemarket.com</a>
    <a href="mailto:info@dotcreativemarket.com">info@dotcreativemarket.com</a>
    <ul>
      <li><a href="">twitter</a></li>
      <li><a href="">instagram</a></li>
      <li><a href="">tictoc</a></li>
      <li><a href="">noname</a></li>
    </ul>
</footer>
