<header style="color: #ffffff; background-color: #4f4040" class="header">
  <div class="container">
    <nav>
      <a href=""
        ><img src="./img/group.svg" alt="logo" width="92" height="108" />
      </a>
      <ul>
        <li><a href="#home"></a>Home</li>
        <li><a href="#about"></a>About Us</li>
        <li><a href="#apartments"></a>Apartments</li>
        <li><a href="#gallery"></a>Gallery</li>
      </ul>
    </nav>
    <ul>
      <li><a href="">Log in</a></li>
      <li><a href="">Register</a></li>
      <li><a href="" class="link-button">Contact</a></li>
    </ul>
  </div>
</header>
