<header class="section section-header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="nav">
        <ul class="header-list">
          <li class="header-item"><a href="#home"></a>Home</li>
          <li class="header-item"><a href="#about"></a>About Us</li>
          <li class="header-item"><a href="#apartments"></a>Apartments</li>
          <li class="header-item"><a href="#gallery"></a>Gallery</li>
        </ul>
        <a href=""
          ><img src="./img/group.svg" alt="logo" width="92" height="108" />
        </a>
      </nav>
      <ul class="header-contact-list">
        <li><a href="">Log in</a></li>
        <li><a href="">Register</a></li>
        <li><a href="" class="link-button">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
