<section class="section section-hero">
  <div class="container">
    <div class="hero-wrapper-top">
      <p class="hero-greetings">welcome to citylights realty</p>
      <h1 class="hero-title">
        <span class="part-one">Experience</span>
        <span class="part-two">the Lifestyle</span>
      </h1>
    </div>

    <div class="hero-wrapper-bottom">
      <ul class="hero-list">
        <li class="hero-item">
          <p class="hero-top-text-item">price us dollar</p>
          <p>120000</p>
        </li>
        <li class="hero-item">
          <p class="hero-top-text-item">state</p>
          <a href="">Enter here</a>
        </li>
        <li class="hero-item">
          <p class="hero-top-text-item">city</p>
          <a href="">Enter here</a>
        </li>
        <li class="hero-item">
          <label class="hero-top-text-item" for="apartment">apartment</label>
          <select name="apartment" id="apartment" class="hero-select">
            <option value="1">Studio apartment</option>
            <option value="2">second apartment</option>
            <option value="3">third apartment</option>
          </select>
        </li>
      </ul>
      <button type="button" class="hero-button button">Search</button>
    </div>
  </div>
  <img
    src="../img/hero/05-4x.png"
    class="decor1"
    alt=""
    width="204"
    height="237"
  />
  <img
    src="../img/hero/06-4x.png"
    class="decor2"
    alt=""
    width="303"
    height="295"
  />
</section>

<!-- <section class="section">
    <div class="container">

    </div>
</section> -->
