<section class="section">
  <div class="container">
    <p class="hero-greetings">welcome to citylights realty</p>
    <h1 class="hero-title">
      <span class="part-one">Experience</span>
      <!-- <span class="defisse">-</span> -->
      <span class="part-two">the Lifestyle</span>
    </h1>

    <div>
      <div>
        <p>price us dollar</p>
        <p>120000</p>
      </div>
      <div>
        <p>state</p>
        <a href="">enter here</a>
      </div>
      <div>
        <p>city</p>
        <a href="">enter here</a>
      </div>
      <div>
        <p>apartment</p>
        <select name="studio appartment" id="">
          studio appartment
        </select>
      </div>
    </div>
    <button type="button">Search</button>
  </div>
</section>

<!-- <section class="section">
    <div class="container">

    </div>
</section> -->
