<section class="section">
  <div class="container">
    <h2>News</h2>
    <h3>Lastest articles</h3>
    <button type="button">Explore</button>
    <ul>
      <li>
        <img src="http://placehold.it/473x286" alt="" />
        <p>Enjoy the finer things in life with luxury real estate.</p>
        <a href="">Read</a>
      </li>
      <li>
        <img src="http://placehold.it/473x286" alt="" />
        <p>There's no place like home… Especially when it's a luxury estate!</p>
        <a href="">Read</a>
      </li>
      <li>
        <img src="http://placehold.it/473x286" alt="" />
        <p>
          Get the best home for your family with the help of a real estate
          agent!
        </p>
        <a href="">Read</a>
      </li>
    </ul>
  </div>
</section>
