<section class="section">
  <div class="container">
    <h2 hidden>Price</h2>
    <div>
      <h3>Current projects</h3>
      <ul>
        <li>
          <p>01</p>
          <p>Total buildings</p>
        </li>
        <li>
          <p>248</p>
          <p>Total units</p>
        </li>
        <li>
          <p>1M</p>
          <p>Portfolio value ($)</p>
        </li>
        <li>
          <p>1K</p>
          <p>M2 Built</p>
        </li>
      </ul>
    </div>
    <div>
      <h3></h3>
      <ul>
        <li>
          <p>02</p>
          <p>Total buildings</p>
        </li>
        <li>
          <p>368</p>
          <p>Total units</p>
        </li>
        <li>
          <p>2M</p>
          <p>Portfolio value ($)</p>
        </li>
        <li>
          <p>1K</p>
          <p>M2 Built</p>
        </li>
      </ul>
    </div>
  </div>
</section>
