<section class="section">
  <div class="container">
    <h2 class="second-title">Why us</h2>
    <p>Going Above and Beyond To Find Your Next Home</p>
    <ol>
      <li>
        <h3>Privileged Locations</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a
          neque mollis, varius velit at, dolor sit.
        </p>
      </li>
      <li>
        <h3>authentic design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a
          neque mollis, varius velit at, dolor sit.
        </p>
      </li>
      <li>
        <h3>Premium productions</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a
          neque mollis, varius velit at, dolor sit.
        </p>
      </li>
      <li>
        <h3>Quality Living</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a
          neque mollis, varius velit at, dolor sit.
        </p>
      </li>
    </ol>
    <ul>
      <li>
        <a
          ><img
            src="http://placehold.it/445x584"
            alt=""
            width="445"
            height="584"
          />
          <h3>Luxury and Convenience Converge</h3>
          <p>Discover</p></a
        >
      </li>
      <li>
        <a
          ><img
            src="http://placehold.it/445x584"
            alt=""
            width="445"
            height="584"
          />
          <h3>Location, Community, Quality Living. It Starts Here!</h3>
          <p>Discover</p></a
        >
      </li>
      <li>
        <a
          ><img
            src="http://placehold.it/445x584"
            alt=""
            width="445"
            height="584"
          />
          <h3>Beauty, Passion, Breathtaking Apartments</h3>
          <p>Discover</p></a
        >
      </li>
    </ul>
  </div>
</section>
