:root {
  --dark-color: #1c1a1b;
  --white-color: #fff;
  --dark-gold-color: #a0856a;
  --gold-color: #cdae7e;
  --font-family: 'Montserrat', sans-serif;
  --font-family-title: 'Italiana', sans-serif;
  --font-family-none: 'Inter', sans-serif;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--white-color);
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* це робить modern-normolize */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

h1,
/* h2, */
h3 {
  font-family: var(--font-family-title);
}
