:root {
  --dark-color: #1c1a1b;
  --white-color: #fff;
  --dark-gold-color: #a0856a;
  --gold-color: #cdae7e;
  --font-family: 'Montserrat', sans-serif;
  --font-family-title: 'Italiana', sans-serif;
  --font-family-none: 'Inter', sans-serif;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--white-color);
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* це робить modern-normolize */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: var(--font-family);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

h1,
/* h2, */
h3 {
  font-family: var(--font-family-title);
}
section {
  outline: 1px solid green;
}
.second-title {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--white-color);
}
.text-after-title {
  font-family: var(--font-family-title);
  font-size: 48px;
  line-height: 1.14583;
  text-transform: capitalize;
  color: var(--gold-color);
  text-transform: capitalize;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--dark-color);
  background-color: var(--gold-color);
  border-radius: 10px;
  border: 1px solid var(--gold-color);
  transition: background-color 0.3s ease; /* Анимация при наведении */
}
.button:hover {
  background-color: var(--dark-gold-color); /* Более тёмный синий */
  color: var(--white-color);
}
.text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  color: var(--white-color);
}
