.hero-greetings {
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.hero-title {
  font-weight: 400;
  font-size: 150px;
  line-height: 1.2;
  text-transform: uppercase;
}
.part-one {
  display: block;
  text-align: left;
}
/* .defisse {
  display: inline-block;
  width: 70px;
} */
/* .part-two {
} */
